<h1><%= @user.username %>'s Profile Page</h1>

<% if flash[:notice] %>
<h3><i>Error: <%= flash[:notice] %></i></h3>
<img src="https://media.giphy.com/media/muKS0FZTV8Ih2/giphy.gif">
<% end %>

<h3>Favorite Recipes</h3>
<ul>
<% @recipes.each do |recipe| %>
<li><%= link_to recipe.name, recipe.href %> <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure ?' } %></li>
<% end %>
</ul>
<br>
<%= link_to 'Go Back to my Fridge', users_path %>
